#form-registration{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 252px;
}


input.sign-up-now-button{
    position: relative;
    width: 374px;
    height: 60px;
    background-color: #3D7E60;
    border: 0;
    font-size: 30px;
    font-weight: 500;
    color: azure;
    border-radius: 12px;
    margin-top: 94px;
}
