div.container{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 141px;
}

h1.title{
    font-size: 50px;
    font-weight: 900;
}
