/* product list */

#productsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 85px;
}

.productListItem {
    background-color: #C9DBD2;
    width: 90%;
    display: flex;
    margin: 5px;
}

@media (min-width: 992px) {
    #productsList {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .productListItem {
        width: 48%;
        flex-shrink: 0;
    }
}

@media (min-width: 1366px) {
    .productListItem {
        width: 32%;
    }
}

.productImage {
    min-width: 160px;
    width: 160px;
    height: 160px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.productInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 10px;
    font-weight: 500;
}

.productInfo h2 {
    margin: 0;
    display: inline;
    white-space: nowrap;
    font-size: 25px !important;
}

.productCategory {
    background-color: #37D02A;
    padding: 3px 13px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 15px;
    margin: 4px 8px;
    width: fit-content;
    display: inline;
    white-space: nowrap;
}

.productTime {
    color: #555;
}
