/* filter list */

.filterListTitle {
    margin-left: 20px;
    margin-bottom: 10px;
}

#filterList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100vw;
    overflow: auto;
    padding-bottom: 10px;
    margin-bottom: 3px;
}

.filterListItem {
    background-color: #c4c4c4;
    padding: 3px 13px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 20px;
    margin: 4px 8px;
}