.make-me-flex-2{
    display: flex;
    flex-direction: column;
    align-items: center;

}

h3.sign-up-in-field-title{  /*  form fields titles e.g. Re-enter password*/
    margin: 35px 0px 2px 1px;
    text-align: left;
    font-weight: 400;
    font-size: 25px;
   }


input.input-sign-in-up{     /*  form fields*/
width: min(80vw,255px);
height: 38px;
background-color: rgb(208, 212, 208);
font-size: 30px;
font-weight: 100;
color: black;
border-radius: 10px;
border: 0;
}

@media screen and (max-height: 835px) {

    input.input-sign-in-up{     /*  form fields*/
        font-size:25px;
        }
    
    h3.sign-up-in-field-title{  /*  form fields titles e.g. Re-enter password*/
        margin: 30px 0px 2px 1px;
        text-align: left;
        font-weight: 400;
        font-size: 21px;
        }

}
