#form-login{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 20vh;
}


input.log-in-now-button{ /* green log in button*/
    position: relative;
    width: min(80vw,374px);
    min-height: 60px;
    background-color: #3D7E60;
    border: 0;
    font-size: 30px;
    font-weight: 400;
    color: azure;
    border-radius: 12px;
    margin-top: 20vh;
}
